.card-group{
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
    width:50%; 
    height: 50%;
    justify-content:center
}

.card-top-img{
    max-height: 200px;
}

.card-columns{
    margin-left: auto;
	margin-right: auto;
	display: flex;
    justify-content:center
}

blockquote{
    justify-content: center;
    display:grid;

}
.card-body-bg-primary mb-3 d-inline-block{
    justify-content: center;
}

img{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
}